{% extends "header.html" %}

{% block body %}
    <div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-header"><h5>Stored databases</h5></div>
                    <div class="card-content">
                        <form action="/upload/" method="POST" enctype="multipart/form-data">
                            <div class="file-field input-field">

                                <button id="upload" class="btn waves-effect waves-light blue" type="submit" style="margin-right: 5px" disabled>Upload
                                    <i class="material-icons right">file_upload</i>
                                </button>

                                <div class="btn blue">
                                   <span>Browse</span>
                                   <input type="file" name="file" onchange="showButton()"/>
                                    <i class="material-icons right">attach_file</i>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload file" />
                                </div>
                            </div>
                        </form>
                        <table class="responsive-table striped">
                            <thead>
                                <tr>
                                    <th>Database</th>
                                    <th>Select</th>
                                    <th>Download SQL</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="databases">
                                {% for database in databases %}
                                    <tr>
                                        <td>{{ database }}</td>
                                        <td><a class="waves-effect waves-light btn-small blue" href="/tables/{{ database }}"><i class="material-icons right">send</i>Use database</a></td>
                                        <form action="/download/sql/" method="post">
                                        <td>
                                            <button class="waves-effect waves-light btn-small blue" type="submit" name="database" value="{{ database }}">Download SQL
                                                <i class="material-icons right">file_download</i>
                                            </button>
                                        </td>
                                        </form>
                                        <td>
                                            <a class="waves-effect waves-light btn-small red" onclick="delete_database(this, '{{ database }}')">
                                                <i class="material-icons right">delete_forever</i>Delete database
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <script>
        function showButton() {
            document.getElementById('upload').disabled = false;
        }

        function delete_database(element, database) {
            axios.post(
                '/delete/',
                'database=' + database
            ).then(function (response) {
                if (response.data.status_code === 200) {
                    let table = document.getElementById("databases");
                    table.removeChild(element.closest("tr"));
                    M.toast({html: "Database successfully deleted!", classes: "green"})
                } else {
                    M.toast({html: response.data.error, classes: "red"});
                }
            })
        }
    </script>
{% endblock %}