<!DOCTYPE html>
<html>
    <head>
        <title>SQLite View</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="login-form" method="post" action="/">
                    <input type="text" name="username" placeholder="username"/>
                    <input type="password" name="password" placeholder="password"/>
                    <button type="submit">login</button>
                </form>
            </div>
        </div>
    </body>
</html>