{% extends "header.html" %}

{% block title %}
    SQLite View - {{ table }}
{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header"><h5>Table: {{ table }}</h5></div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#info">Table information</a></li>
            <li class="tab"><a href="#data">Data</a></li>
        </ul>
    </div>
    <div class="card-content">
        <div id="data">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><i class="material-icons">description</i>Table Format</div>
                    <div class="collapsible-body overflow">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    {% for column in table_columns %}
                                        <th>{{ column }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody id="sql-data">
                                {% for row in data %}
                                    <tr>
                                        {% for column in row %}
                                        <td>{{ column }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="input-field">
                            <button id="previous-0" class="btn waves-effect waves-light blue" value="/tables/{{ table }}/{{ database }}/" onclick="replace_table(this)" disabled>Previous
                                <i class="material-icons right">navigate_before</i>
                            </button>
                            <button id="next-2" class="btn waves-effect waves-light blue" value="/tables/{{ table }}/{{ database }}/" onclick="replace_table(this)" {% if data|length < 50 %}disabled{% endif %}>Next page
                                <i class="material-icons right">navigate_next</i>
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">developer_board</i>JSON Format</div>
                    <div class="collapsible-body">
                        <pre>{{ json_data }}</pre>
                    </div>
                </li>
            </ul>
        </div>
        <div id="info">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">settings</i>SQL Schema</div>
                    <div class="collapsible-body"><span><pre>{{ table_schema }}</pre>{% if sql_indexes %}<pre>{{ sql_indexes }}{% endif %}</pre></span></div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="material-icons">info_outline</i>Columns</div>
                    <div class="collapsible-body">
                        <table class="responsive-table striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Data Type</th>
                                    <th>Allow NULL</th>
                                    <th>Default Value</th>
                                    <th>Primary Key</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table_data %}
                                    <tr>
                                        {% for column in row %}
                                            {% if loop.index == 3 %}
                                                <td><i class="material-icons">{% if column == 0 %}check{% else %}clear{% endif %}</i></td>
                                            {% elif loop.index == 5 %}
                                                <td><i class="material-icons">{% if column == 1 %}check{% else %}clear{% endif %}</i></td>
                                            {% else %}
                                                <td>{{ column }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">info_outline</i>Table Indexes</div>
                    <div class="collapsible-body">
                        <table class="responsive-table striped">
                            <thead>
                                <tr>
                                    <th>Index Name</th>
                                    <th>Index Column</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for index in indexes %}
                                    <tr>
                                        <td>{{ index[0] }}</td>
                                        <td>{{ index[1] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block extraJS %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.collapsible');
            M.Collapsible.init(elems, {});

            let elem = document.querySelector('.tabs');
            M.Tabs.init(elem, {});
        });

        function replace_table(element) {

            let path = element.value;
            let id = element.id.split("-");

            let type = id[0];
            let page = id[1];

            //console.log(page);

            axios.get(path + page).then(function (response) {
                let new_tbody = document.createElement('tbody');
                new_tbody.id = "sql-data";
                let data = response.data.data;

                for (let i = 0; i < data.length; i++) {
                    let row = new_tbody.insertRow();
                    for (let j = 0; j < data[i].length; j++) {
                        row.insertCell(j).innerText = data[i][j];
                    }
                }

                if (type === "previous") {
                    console.log(page);
                    document.getElementById("next-" + (parseInt(page) + 2)).disabled = (data.length < 50);
                } else {
                    document.getElementById("next-" + page).disabled = (data.length < 50);
                }


                if (data.length !== 0) {
                    let table = document.getElementById("sql-data");
                    table.parentNode.replaceChild(new_tbody, table);

                    after_get();
                }
            });

            function after_get() {
                page = parseInt(page);

                if (type === "previous") {
                    element.id = "previous-" + (page - 1);
                    document.getElementById('next-' + (page + 2)).id = "next-" + (page + 1);
                } else {
                    element.id = "next-" + (page + 1);
                    document.getElementById('previous-' + (page - 2)).id = "previous-" + (page - 1);
                }

                document.getElementById("previous-" + (page - 1)).disabled = (page === 1);
            }
        }

    </script>
{% endblock %}